<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style = "background-color: lightskyblue;">
    <div class="wrap">
        {% for _ in range(144) %}
            <div class="c"></div>
        {% endfor %}
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>URL Shortener</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('index') }}">
                            <div class="form-group">
                                <label for="long_url">Enter a long URL:</label>
                                <input type="text" id="long_url" name="long_url" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Shorten URL</button>
                        </form>
                        {% if short_url %}
                            <div class="alert alert-success mt-3">
                                <p>Shortened URL: <a href="{{ url_for('redirect_to_url', short_url=short_url, _external=True) }}" class="alert-link">{{ url_for('redirect_to_url', short_url=short_url, _external=True) }}</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
